@charset "UTF-8";
.content {
  width: 320px;
  height: 530px;
  margin: 150px auto;
  background-color: #e2dbd4;
}

.content header {
  width: 100%;
  height: 35px;
  font-size: 14px;
  color: #1f1e1d;
  overflow: hidden;
}

.content header span {
  padding-left: 10px;
  line-height: 35px;
}

.content header ul {
  float: right;
  width: 120px;
  height: 100%;
}

.content header ul li {
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-left: 10px;
}

.content header ul .min {
  background: url("../img/减号.png") no-repeat;
  background-size: 65%;
}

.content header ul .max {
  background: url("../img/方形.png") no-repeat;
  background-size: 65%;
}

.content header ul .close {
  background: url("../img/叉号.png") no-repeat;
  background-size: 65%;
}

.content .tool {
  height: 40px;
  overflow: hidden;
}

.content .tool div {
  float: left;
}

.content .tool .tool-left,
.content .tool .tool-mid,
.content .tool .tool-right {
  width: 25px;
  height: 25px;
  margin-top: 8px;
  margin-left: 10px;
  background: url("../img/列表 listing.png") no-repeat;
  background-size: 100%;
}

.content .tool .tool-word {
  font-size: 18px;
  padding-left: 12px;
  line-height: 40px;
  color: #000;
  font-weight: 700;
}

.content .tool .tool-mid {
  margin-left: 20px;
  background: url("../img/转发.png") no-repeat;
  background-size: 100%;
}

.content .tool .tool-right {
  margin-left: 113px;
  background: url("../img/重置时间.png") no-repeat;
  background-size: 100%;
}

.content .result {
  height: 135px;
  overflow: hidden;
}

.content .result .number-parent {
  height: 70px;
}

.content .result .number-parent .number {
  float: right;
  font-weight: 700;
  font-size: 42px;
}

.content .result .show-parent {
  height: 30px;
}

.content .result .show-parent .show {
  float: right;
  font-size: 20px;
}

.content .result .list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .result .list ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 20px;
  padding-top: 8px;
  color: #000;
}

.content .button {
  height: 320px;
}

.content .button table {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000;
  font-size: 16px;
}

.content .button table tr {
  height: 44px;
}

.content .button table tr td,
.content .button table tr th {
  width: 70px;
  cursor: default;
}

.content .button table tr td .back,
.content .button table tr th .back {
  width: 20px;
  height: 20px;
  background: url("../img/退格.png") no-repeat;
  background-size: 100%;
  margin-left: 29px;
}

.content .button table tr th {
  background-color: #f7f5f3;
}

.content .button table tr .gray {
  background-color: #ece5dd;
}

.content .button table tr .blue {
  background-color: #7ba4c7;
}

.tip {
  position: fixed;
  left: 167px;
  top: 40px;
  font-family: YouYuan, STXihei, SimHei;
  font-size: 50px;
}

.selected {
  background-color: #b7b7b8 !important;
}

.blueSelected {
  background-color: #3a729c !important;
}

.author {
  position: fixed;
  right: 100px;
  top: 520px;
  font-family: YouYuan, STXihei, SimHei;
  font-size: 50px;
}
/*# sourceMappingURL=index.css.map */